body {
    font-family: "PT Sans", sans-serif;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

hr {
    height: 0.1rem;
}

textarea {
    resize: none;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start : 0em;
}
.font-main{
    font-family: "Noto Sans HK", sans-serif;
    font-size: large;
    font-weight: 600;
    color: #082B4D;
}
.color-yellow {
    background: #cea70c;
}
.color-bluedark {
    color: #082B4D;
}
.colorhr-bluedark {
    background: #171230;
}
.logo-navbar {
    height: 3rem;
}
.user-profile-picture {
    height: 3rem;
    width: 3rem;
}

.carousel-images-content {
    width: 22rem;
    height: 22rem;
    object-fit: cover;
    object-position: center;
}

.feature-circle-item {
    border-radius: 10rem;
    border: 0.3rem solid #cea70c;
    padding: 1rem;
    width: 8rem;
    height: 8rem;
}

.flex-center-items {
    display: flex;
    justify-content: center;
}

.title-bar-wrapper .title-bar-bg {
    height: 16rem;
}

.title-bar-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.title-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 50%);
}
.title-bar-title {
    font-family: "Noto Sans HK", sans-serif;
    color: white;
    font-weight: 500;
}

.content-box {
    font-family: "Noto Sans HK", sans-serif;
    background: #e4e7ea;
    border-radius: 1rem;
    height: 10rem;
}

.input-box-text {
    background-color: #d3d4d5;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    border-style: none;
    border-radius: 0.5rem;
    text-align: center;
    outline: transparent;
    width: 100%;
}

.box-content-header {
    font-family: "Fjalla One", sans-serif;
}

.btn-yellow {
    background: #cea70c;
    padding: 0.3rem 3rem;
    margin-top: 1rem;
    color: white;
    border-radius: 0.5rem;
}
.btn-yellow:hover {
    color: white;
    background: #e8bc0d;
}

.vertical-line {
    width: 0.2rem;
    height: 100%;
    margin: 0rem 1rem;
}

.content-highlight-cost {
    background: #82743e;
    padding: 0.3rem 3rem;
    border-radius: 0.5rem;
    color: white;
}

.btn-filteritem {
    font-family: "Noto Sans HK",sans-serif;
    color: #171230;
    margin: 0 0.5rem;
}
.active {
    font-weight: 700;
    border-bottom: 0.2rem solid #82743e;
}

.content-item {
    background: #f0f0f0;
    margin: 1rem;
    padding: 0.5rem;
    width: 45%;
}

.content-item img {
    display: flex;
    align-self: center;
    height: 12rem;
    width: 12rem;
    padding: 0.4rem;
    object-fit: cover;
    object-position: center;
}
.content-highlight{
    font-size: 0.8rem;
}

.news-content-wrapper{
    background: #f9f9f9;
    
}
.news-content h3 {
    font-family: "Noto Sans HK", sans-serif;
    font-weight: 600;
    color: #082B4D;
}
.news-content img {
    display: flex;
    align-self: center;
    height: 50%;
    width: 100%;
    padding: 0.4rem;
    object-fit: cover;
    object-position: center;
}
.highlight-news-item h3{
    font-family: "Noto Sans HK", sans-serif;
    font-size: small;
    font-weight: 600;
    color: #082B4D;
}
.highlight-news-item img{
    display: flex;
    align-self: start;
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    object-position: center;
}
.highlight-news-item p{
    font-size: x-small;
    color: #082B4D;
}
/* custom bootstrap*/

.navbar {
    font-family: "Noto Sans HK", sans-serif;
}

.carousel-indicators {
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    background-color: black;
    opacity: 50%;
}

.carousel-caption {
    position: absolute;
    width: 100%;
    right: 0rem;
    bottom: 1rem;
    left: 0rem;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 50%);
    text-align: center;
}

.carousel-caption-title {
    font-family: "Noto Sans HK", sans-serif;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}
